<div data-ng-controller="logsCtrl">
    hello
    <table data-ng-table="logtabs" data-show-filter="true" class="table">
        <thead>
            <tr>
                <th data-ng-repeat="log_col in logColumns">
                    {{log_col}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="log_dat in logData">
                <td data-ng-repeat="log_dat_cpt in log_dat">
                    {{log_dat_cpt}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
