.ng-table-rowselected tr {
    cursor: pointer;
}
.rowhighlight {
    background-color: yellow;
}
textarea#listpolicy {
    width: 100%;
    height: 180px;
    white-space: pre;
    word-wrap: normal;
    overflow: scroll;
}
div#checkboxes {
    width: 100%;
    height: 5%;
}
.checkbox {
    width: 25%;
    display: inline-block;
}

