<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Policy Manager Registration</title>
</head>


<body data-ng-app="registerApp">
    <form name="register" class="reg-form" data-ng-submit="submitForm()"
        data-ng-controller="registerCtrl" novalidate>
        First Name: <input type="text" data-ng-model="cm.firstname" 
        name="cm_firstname" required>
        <div data-ng-show="register.cm_firstname.$invalid && 
            register_submitted">
            <span id="error">
                First name must be supplied
            </span>
        </div>
        Last Name: <input type="text" data-ng-model="cm.lastname"
        name="cm_lastname" required>
        <div data-ng-show="register.cm_lastname.$invalid && 
            register_submitted">
            <span id="error">
                Last name must be supplied
            </span>
        </div>
        <br/>
        Email: <input type="email" data-ng-model="cm.email" name="cm_email"
        required><br/>
        <div data-ng-show="register.cm_email.$invalid && register_submitted">
            <span id="error">
                A valid email address must be supplied
            </span>
        </div>
        Username: <input type="text" data-ng-model="cm.username"
        name="cm_username"
        data-ng-readonly="cm.username" value="cm.username" required><br/>
        Role: <select name="cm_role"
            data-ng-options="comm_role for comm_role in comm_roles"
            data-ng-model="cm.role" data-validate-select required>
            <option value="">
                --- Select a Role ---
            </option>
        </select>
        <div data-ng-show="register_submitted && register.cm_role.$invalid">
            <span id="error">
                A role must be selected
            </span>
        </div>
        <div data-ng-repeat="community in cm.communities | startFrom:currentPage*3 | limitTo:3">
            Community: <select name="cm_community"
                data-ng-options="comm_type for comm_type in comm_types"
                data-ng-change="changeCommunity($index + currentPage *3)"
                data-ng-model="cm.communities[$index + currentPage *3].name"
                data-validate-select required>
                <option value="">
                    --- Select a Community ---
                </option>
            </select>
            <div data-ng-show="invalidFlags.communities[$index + 
                currentPage*3].community && register_submitted">
                <span id="error">
                    Community must be supplied
                </span>
            </div>
            <button data-ng-if="($index + currentPage) > 0"
                data-ng-click="removeCommunity(cm.communities, $index+currentPage)">
                    Remove
            </button>
            <br/>
        </div>
        
        <button data-ng-disabled="currentPage == 0" 
            data-ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button data-ng-click="currentPage=currentPage+1"
            data-ng-disabled="currentPage >= numberOfPages() -1">
            Next
            </button>
        
        <button data-ng-click="addMore()">Add More</button>
        <br/>
        <input type="reset" id="reset" value="Reset" 
        data-ng-click="resetForm()">
        <input type="submit" id="submit" value="Submit"
        data-ng-click="submitReq()">
    </form>
    <script src="./script/angular/angular.min.js" type="text/javascript">
    </script>
    <script src="./js/register_app.js" type="text/javascript"></script>
</body>
</html>
