div#policydetails {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  /*  border: 1px dotted #3399FF; */
}
span#error {
    background-color: yellow;
}
div.whenblock {
  width: 50%;
  float: left;
}
div.stepblock {
  width: 50%;
  float: left;
}
div.collblock {
  width: 40%;
  float: left;
}

div.pidblock {
  width: 60%;
  float: left;
}
div.hostblock {
  width: 40%;
  float: left;
}

/*
div#sources {
    width: 50%;
    float: left;
    margin: auto;
    border: 1px dotted #3399FF;
}
div#targets {
    width: 50%;
    height: 230px;
    float: right;
    margin: auto;
    border: 1px dotted #3399FF;
}

div#button_space {
    width: 5px;
    height: 10px;
    margin: auto;
    float: left;
}
div#submit_space {
    width: 50px;
    height: 10px;
    margin: auto;
    float: left;
}
*/
.dpm-form button#prevpage {
    margin-right: 5%;
    float: left;
}

.dpm-form button#nextpage {
    margin-right: 3%;
}

.dpm-form button#submit {
    margin-right: 5%;
    float: left;
}

.personalinfo label {
    float: left;
    width: 120px;
    margin-left: 2px;
    margin-right: 3px;
}
.personalinfo input {
    margin-right: 3px;
}

.datasets {
    display: inline-block;
}

.datasets label {
    float: left;
    width: 120px;
    margin-right: 3px;
}
.datasets select {
    margin-right: 3px;
}
.datasets div#remove {
    margin-top: 5%;
}

div#collection {
    float left;
}

div#pers {
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
/*    background-color: #F7F7F7;
    border: 1px solid #E5601E; */
}

div#summary {
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}
table#summary {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
	background:white;
	border-bottom:3px solid #d4d3d4;
	color:#be0a09;
}

td {
	border-bottom:solid #be0a09 1px;
	color:#6b6a6a;
	text-align:center;
	border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	width:10px;
}

div#regform {
    width: 50%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #3399FF;
}
.regform label {
    width: 120px;
    float: left;
    margin-left: 2px;
    margin-right: 3px;
}

div#hreg {
    height: 7px;
    width: auto;
}

div#clabel {
    width: 120px;
    height: 20px;
    float: left;
    margin-left: 2px;
    margin-right: 3px;
    display: block;
}

.regform input#reset {
    margin-right: 40px;
}

input.text, select{
    width: 250px;
    height: 22px;
    padding: 0px 6px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0%;
}

input#identifier {
  width: 500px;
  height: 22px;
}

input.path {
  width: 500px;
  height: 22px;
}

select#whensel {
  width: 150px;
  height: 22px;
  padding: 0px 6px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0%;
  float: left;
}

select#colltype {
  width: 150px;
  height: 22px;
  padding: 0px 6px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0%;
}

input.period {
  width: 150px;
  height: 22px;
  padding: 0px 6px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 1px;
}

div#period-space {
  width: 20px;
  height: 22px;
  float: left;
}

div#action-period {
  float: left;
}

select.host {
  width: 230px;
  height: 22px;
  padding: 0px 6px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0px;
}

button#previouspage {
    margin-right: 1%;
}
button#nextpage {
    margin-left: 1%;
}
button#addmore {
    margin-left: 1%;
}

.container {
  width: 100%;
  padding-left: 0px;
}

.input-group-addon {
  padding-top: 0px;
}

.input-group .form-control {
  width: 180px;
  margin-left: 15px;
}

.col-sm-6 {
  padding-left: 5px;
}
