<div data-ng-controller="confirmCtrl">
    <table id="summary">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{policy.name}}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{policy.version}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{policy.author}}</td>
        </tr>
        <tr>
            <td>Collections</td>
            <td></td>
        </tr>
        <tr data-ng-repeat="item in policy.collections">
            <td></td>
            <td>{{item.name}} (Identifier: {{item.type.name}})</td>
        </tr>
        <tr>
            <td>Action</td>
            <td>{{policy.action.name}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{policy.type.name}}</td>
        </tr>
        <tr>
            <td>Trigger</td>
            <td>{{policy.trigger.name}}</td>
        </tr>
        <tr data-ng-if="policy.trigger.name == 'runonce'">
            <td>Trigger Date</td>
            <td>{{policy.trigger_date}}</td>
        </tr>
        <tr data-ng-if="policy.trigger.name == 'periodic'">
            <td>Trigger Period</td>
            <td>{{policy.trigger_period.weekday}}
                {{policy.trigger_period.month}}
                {{policy.trigger_period.day}}
                {{policy.trigger_period.hour}}
                {{policy.trigger_period.minute}}
            </td>
        </tr>
        <tr>
            <td>Target Organisation</td>
            <td>{{policy.target.organisation.name}}</td>
        </tr>
        <tr>
            <td>Target System</td>
            <td>{{policy.target.system.name}}</td>
        </tr>
        <tr>
            <td>Target Site</td>
            <td>{{policy.target.site.name}}</td>
        </tr>
        <tr>
            <td>Target Resource</td>
            <td>{{policy.target.resource.name}}</td>
        </tr>
        <tr>
            <td>Target Path</td>
            <td>{{policy.target.path}}</td>
        </tr>
    </table>
</div>

