div.timeout {
display: none;
background: grey;
height: 100%;
width: 100%;
z-index: 1;
position: absolute;
}

div#buttons {
    width: 30%;
    height: 5%;
    margin-top: 2%;
    margin-left: 70%;
    margin-bottom: 1%;
}

*{	
	margin:0;
	padding:0;
	}
body{
	width:100%;
	height:auto;
	overflow:scroll;
	background-color:#f7f7f7;
	background-image:url(../img/bk-num.png);
	background-repeat:no-repeat;
	background-position: right 150px;
	background-attachment:scroll;
	}
div#page {
	width: 1024px; 
	min-height:768px;
	margin:0 auto !important;
	}
div#header-wrapper{
	background-color:white;
	overflow:hidden;
	}
div#header{
	width:1024px;
	margin:0 auto !important;
	padding-top:6px;
	padding-bottom:12px;
	background-color:#FFF;
	}
hr{
	height:3px;
	border:0px;
	background-color:#e5601e;}
div#header-box{
	height:46px;
	background-color: #d4d3d4;
	-moz-box-shadow: 10px 10px 5px #666;
	-webkit-box-shadow: 10px 10px 5px #666;
	box-shadow: 10px 10px 5px #666;
	}
h1, h2, h3, p {font-family:Arial, 'Helvetica', sans-serif;}
h1, h2, h3 {line-height: 22px;}
h1.title{
	font-weight:bold;
	font-size: 27pt;
	color:#be0a09;
	float:right;
	}
h2 {
	font-size: 30pt;
	color:#6b6a6a;
	font-weight:lighter;
	}
h2.subtitle{
	padding-top:25px;
	}
h3.field {
	color:white;
	font-weight:bold;
	font-size:14pt;
	display:block;
	background-color:#be0a09;
	width:310px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:35px;
	padding-left:10px;
	}
/*editing form*/
/*
input.text, select{
	width:250px;
	height:22px;
	}
*/
p{
	padding-top:15px;
	font-size:12pt;
	color:#6b6a6a;
    margin: 0 0 0;
	}
input.add-more-button{
	font-size:8pt;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#333;
	padding:2px;
	}
select.option, select.select-title{
	padding-top:2px;
	color:#333;
	}

.dpm-form {
    background-color: #F7F7F7;
    border: 1px solid #E5601E;
}

div#pendingbox {
    width: 40%;
    border: 1px solid #E5601E;
    background: #F7F7F7;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

div#pendingtxt {
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

div#closedbox {
    width: 40%;
    border: 1px solid #E5601E;
    background: #F7F7F7;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

div#closedtxt {
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

button#cancel {
    margin-left: 30%;
}
