div#vspace {
    width: 100%;
    height: 110px;
}

.personalblock {
    width: 100%;
}

.ng-table-rowselected tr {
    cursor: pointer;
}
.rowhighlight {
    background-color: yellow;
}
textarea#listpolicy {
    width: 100%;
    height: 180px;
    white-space: pre;
    word-wrap: normal;
    overflow: scroll;
}
div#checkboxes {
    width: 100%;
    height: 5%;
}
.checkbox {
    width: 25%;
    display: inline-block;
}

.buttondiv1 {
    width: 8px;
    height: auto;
    display: inline-block;
}
.buttondiv0 {
    width: 2px;
    height: auto;
    display: inline-block;
}
div#listbuttons {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 7%;
}

input#listlogbutton {
    float: right;
}

div#buttonspace1 {
    width: auto;
    height: 8px;
}
.ng-table {
    border: none;
}

table.ng-table thead th:not(:first-child) {
    text-align: center;
    border-right: none;
    border-left: none;
}
table.ng-table thead th:not(:last-child) {
    text-align: center;
    border-right: none;
    border-left: none;
}

table.ng-table tbody td:not(:first-child) {
    text-align: center;
    border-right: none;
    border-left: none;
	border-bottom:solid #be0a09 1px;
	color:#6b6a6a;
	border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	width:10px;
}

table.ng-table tbody td:not(:last-child) {
    text-align: center;
    border-right: none;
    border-left: none;
	border-bottom:solid #be0a09 1px;
	color:#6b6a6a;
	border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	width:10px;
}

table {
    background-color: whitesmoke;
    border-collapse: collapse;
    line-height: 1.5;
}

th {
	background:white;
	border-bottom:3px solid #d4d3d4;
	color:#be0a09;
}
/*
.modify label {
    width: 120px;
    float: left;
}
*/
div#modify {
    background-color: whitesmoke;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modbutton button#backbtn {
    float: left;
    margin-right: 20%;
}
div#modbutton {
/*    float: left; */
    margin-top: 3%;
    display: block;
}
div#reactivatebtn {
    width: 100%;
    margin-top: 3%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
div#removebtn {
    width: 100%;
    margin-top: 3%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
button#removeback {
    margin-left: 30%;
    margin-right: 10%;
}

button#reactivateback {
  margin-left: 30%;
  margin-right: 10%;
}

button#remove {
}

div#tabremove {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

div#tabreactivate {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

table#tabreactivate {
    margin-top: 3%;
    width: 100%;
    background-color: whitesmoke;
%    margin-left: auto;
%    margin-right: auto;
}

table#tabremove {
    margin-top: 3%;
    width: 100%;
    background-color: whitesmoke;
%    margin-left: auto;
%    margin-right: auto;
}

div#tperiod {
    margin-top: 3%;
}
