div#errreg {
    width: 40%;
    border: 1px solid #E5601E;
    background: #F7F7F7;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

div#errtext {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
div#errbutton {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
button#regbutton {
}
button#reghelp {
    float: right;
}
div#helptext {
    display: none;
    background: #F7F7F7;
    border: 1px solid #E5601E;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
div#helptext2 {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
div#helpclose {
}
button#closehelp {
    margin-left: 87%;
    margin-right: 3%;
    margin-bottom: 2%;
}
