div#datasets {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #3399FF;
}
span#error {
    background-color: yellow;
}
div#actions {
    width: 50%;
    height: 220px;
    float: left;
    margin: auto;
    border: 1px dotted #3399FF;
}
div#sources {
    width: 50%;
    float: left;
    margin: auto;
    border: 1px dotted #3399FF;
}
div#targets {
    width: 50%;
    height: 220px;
    float: right;
    margin: auto;
    border: 1px dotted #3399FF;
}
div#button_space {
    width: 1px;
    height: 10px;
    margin: auto;
    float: left;
}
div#submit_space {
    width: 50px;
    height: 10px;
    margin: auto;
    float: left;
}
